.welcome
{
	font-size: 24px;
	color: #888;
	background-color: #f0f0f0;
	border: 2px solid #888;
	border-radius: 10px;
	text-align: center;
}

.ag-table .ag-body .ag-cell-value {
    line-height: 54px;
}