[submodule "example-solutions"]
	path = example-solutions
	url = https://github.com/Servoy/example-solutions.git
	branch = feature-svymicrosamples
[submodule "svyKeyListener"]
	path = svyKeyListener
	url = https://github.com/Servoy/svyKeyListener.git
[submodule "svyChartJS"]
	path = svyChartJS
	url = https://github.com/Servoy/svyChartJS.git
[submodule "svySearch"]
	path = svySearch
	url = https://github.com/Servoy/svySearch.git
[submodule "bootstrapextracomponents"]
	path = bootstrapextracomponents
	url = https://github.com/Servoy/bootstrapextracomponents.git
[submodule "svyMicroSamples"]
	path = svyMicroSamples
	url = https://github.com/Servoy/svyMicroSamples
	branch = master
[submodule "webnotifications"]
	path = webnotifications
	url = https://github.com/Servoy/webnotifications
[submodule "svyGroupingGrid"]
	path = svyGroupingGrid
	url = https://github.com/Servoy/svyGroupingGrid
	branch = feature-ag-grid
